<ion-view view-title="Carma">
  <ion-content class="padding">

    <div class="list card">
      <div class="item item-avatar">
        <img src="img/nigel.jpg">
          <h2>Nigel Thornberry</h2>
          <p>February 18, 2016</p>
      </div>
      <div class="item item-body">
        <img class="full-image" src="img/m3.jpg">
          <p>Our featured car today is a beautiful BMW F92 M3. Boasting a whopping 425 horsepower, this machine is sure to leave you grinning to ear to ear. Be sure to search for yours today!</p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-avatar">
        <img src="img/nigel.jpg">
          <h2>Nigel Thornberry</h2>
          <p>February 17, 2016</p>
      </div>
      <div class="item item-body">
        <img class="full-image" src="img/m3.jpg">
          <p>Our featured car today is a beautiful BMW F92 M3. Boasting a whopping 425 horsepower, this machine is sure to leave you grinning to ear to ear. Be sure to search for yours today!</p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-avatar">
        <img src="img/nigel.jpg">
          <h2>Nigel Thornberry</h2>
          <p>February 16, 2016</p>
      </div>
      <div class="item item-body">
        <img class="full-image" src="img/m3.jpg">
          <p>Our featured car today is a beautiful BMW F92 M3. Boasting a whopping 425 horsepower, this machine is sure to leave you grinning to ear to ear. Be sure to search for yours today!</p>
      </div>
    </div>

    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">Make</div>
        <select>
          <option>Audi</option>
          <option>BMW</option>
          <option>Jaguar</option>
          <option>Mercedes</option>
        </select>
      </label>
    </div>
    
  </ion-content>
</ion-view>
